body { 
    background-color: rgb(0, 0, 0);
    background-image: url("homepagebg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    margin: 0px;
}

