
{% extends "template.html" %}
{% block inhoud %}
<!--Inlogvelden-->
<div style="width:20%; margin-left: auto; margin-right: auto;">
    <form method="post" action="/aangemeld">
        <br>
        {{form.hidden_tag()}}
        {{form.naam.label}}
        <br>
        {{form.naam}}
        <br>
        {{form.wachtwoord.label}} 
        <br>
        {{form.wachtwoord}}
        <br>
        {{form.email.label}} 
        <br>
        {{form.email}}
        <br><br>
        {{form.submit()}}
    </form>
</div>
{% endblock %}
