{% extends "template.html" %}

{% block inhoud %}

<!-- i[0] = Boeking ID -->
<!-- i[1] = Boeking Weeknummer-->
<!-- i[2] = Huizennaam -->
<!-- i[3] = Type ID-->
<!-- session['types'][i[3]-1][1] = Aantal persoons huisje-->

<ul class="list-group" style="margin: 20px;">  
    <li class="list-group-item list-group-item-info">Boekingen:</li>
    {%if session['boeks'] ==[]%}
        <a>U heeft geen boekingen</a>
    {%else%}
        {% for i in session['boeks']: %}
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{i[2]}}</h5>
                    <small class="text-muted">Geboekt voor week {{i[1]}}. Boeking ID: {{i[0]}}</small>
                </div>
                <div>
                    <p class="mb-1">{{session['types'][i[3]-1][1]}} Persoons huis</p>

                    <form action="{{url_for('aanpassen')}}" method="get" style="float: left; margin-left: 20%;" >
                        <input type="hidden" name="buttonValue" value={{i[0]}}>
                        <button type="submit" class="btn btn-primary" style="width: 200%;">Aanpassen</button>
                    </form>

                    <form action="{{url_for('annuleren')}}" method="get" style="float: left; margin-left: 10%;" >
                        <input type="hidden" name="buttonValue" value={{i[0]}}>
                        <button type="submit" class="btn btn-primary" style="width: 200%;">Annuleren</button>
                    </form>
                </div>
            </a>
        {%endfor%}
    
    {%endif%}
</ul>
{% endblock %}