{% extends "template.html" %}

{% block inhoud %}
<ul class="list-group">  
    <li class="list-group-item list-group-item-info">A simple info list group item</li>
    {%if id == 'null'%}
        <li>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{id}}</h5>
            </a>
        </li>
    {%else%}
        {% for id in session['boeks']: %}
        <li>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{id}}</h5>
                <small class="text-muted">3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small class="text-muted">And some muted small print.</small>
            </a>
        </li>
        {%endfor%}
    {%endif%}
</ul>
{% endblock %}