{% extends "template.html" %}

{% block inhoud %}

<!--Jubileum melding-->
  <div class="card text-center" style="margin: 5%; ">
    <div class="card-header">
      VROEGBOEKKORTING
    </div>
    <div class="card-body">
      <h5 class="card-title">6 APRIL TOT 26 JUNI VROEGBOEKKORTING</h5>
      <img src ="{{url_for('static', filename='party.png')}}" style="float:left ; height: 10%; width: 10%; margin-left: 15%;">
      <div style="float:left;">
        <p class="card-text">Van 6 april tot 26 juni hebben wij bij camping Zee en Duin vroegboekkorting.</p>
        <p class="card-text">Om ons 1 maandig jubileum te vieren trekken wij deze datums door tot bijna aan de zomer. </p>
        <p class="card-text">Al onze huisjes zijn voor deze gelegenheid gedecoreerd met vlaggen en balonnen.</p>
      </div>
      <img src ="{{url_for('static', filename='party.png')}}" style="float:left; height: 10%;width:10%;">
    </div>
  </div>

<!--Zwembad foto en tekst-->
<div style="margin: 5%; margin-top: 0; ">
  <img src ="{{url_for('static', filename='zwembad.png')}}" style="float: left; border: 5px solid black; ">
  
  <div class="card text-center" style="float: right; width: 50%; height: 430px; background-color: rgb(216, 241, 255);">
    <div class="card-header">
      VROEGBOEKKORTING
    </div>
    <br>
    <h5 class="card-title">Zwembad in aanbouw </h5>
    <br>
    <p class="card-text">Komende zomer zal ook ons zwembad in volle glorie openen.</p>
    <p class="card-text">De verwachtte datum dat het zwembad af is, is geschat rond 3 september</p>
    <p class="card-text">Wij kijken er met het hele team naar uit u te verwelkomen.</p>
    <br>
    <p class="card-text" style="color: brown;">Het zwembad zal toegankelijk zijn vanaf een leeftijd van 5 jaar.</p>
  </div>
</div>


<!--Kaarten en informatie over huizen-->
<div style="margin: 5%; margin-top: 35%; width: 100%; height: 200px; ">
  <div class="card text-center" style="margin-top: 17px; float: left; width: 30%; height: 350px; background-color: rgb(247, 251, 207);">
    <div class="card-header">
      Huisjes
    </div>
    <br>
    <h5 class="card-title">Bungalows</h5>
    <br>
    <div style="margin-left: 5px; margin-right: 5px; margin-bottom: 0%;">
      <p class="card-text">Zee en Duin heeft een aanbod van 30 verschillende bungalows.</p>
      <p class="card-text">Wij bieden en 10 tal huizen aan voor elke groep waar u mee wil boeken.</p>
    </div>
  </div>

  <div class="row">
    <div class="card border-secondary mb-3" style="width: 17rem; margin: 20px;">
        <img src="{{url_for('static', filename='4.png')}}" class="card-img-top" style="height: 200px; margin-top: 10px;">
      <div class="card-body">
        <h5 class="card-title"style="text-align: center;">4 Persoons huizen</h5>
        <p class="card-text"style="text-align: center;">Onze 4 persoons bungalows bieden families een perfect verblijf.</p><br>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a href="4p" class="btn btn-primary">Boeken</a>
        </div>
      </div>
    </div>

    <div class="card border-secondary mb-3" style="width: 17rem; margin: 20px;">
        <img src="{{url_for('static', filename='6.png')}}" class="card-img-top" style="height: 200px; margin-top: 10px;">
      <div class="card-body">
        <h5 class="card-title"style="text-align: center;">6 Persoons huizen</h5>
        <p class="card-text" style="text-align: center;">Bent u met een grotere groep zullen onze 6 persoons bungalows u niet teleurstellen.</p>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a href="6p" class="btn btn-primary">Boeken</a>
        </div>
      </div>
    </div>

    <div class="card border-secondary mb-3" style="width: 17rem; margin: 20px; margin-right: 0px;">
        <img src="{{url_for('static', filename='8.png')}}" class="card-img-top" style="height: 200px; margin-top: 10px;">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">8 Persoons huizen</h5>
        <p class="card-text"style="text-align: center;">Onze 8 persoons huizen zijn perfect gestyled voor grote groepen.</p><br>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a href="8p" class="btn btn-primary">Boeken</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}