{% extends "template.html" %}

{% block inhoud %}
<div class="row" style="text-align: center; margin-left: 18%; margin-right: 15%;" >
  <div class="card border-secondary mb-3" style="width: 18rem; margin: 20px;">
      <img src="{{url_for('static', filename='4.png')}}" class="card-img-top" style="height: 200px; margin-top: 10px;"">
      <div class="card-body">
      <h5 class="card-title">4 Persoons huis</h5>
      <p class="card-text">Heel mooi huisje.</p>
      <a href="4p" class="btn btn-primary">Boeken</a>
      </div>
  </div>

  <div class="card border-secondary mb-3" style="width: 18rem; margin: 20px;">
      <img src="{{url_for('static', filename='6.png')}}" class="card-img-top" style="height: 200px; margin-top: 10px;"">
      <div class="card-body">
      <h5 class="card-title">6 Persoons huis</h5>
      <p class="card-text">Heel mooi huisje.</p>
      <a href="6p" class="btn btn-primary">Boeken</a>
      </div>
  </div>

  <div class="card border-secondary mb-3" style="width: 18rem; margin: 20px;">
      <img src="{{url_for('static', filename='8.png')}}" class="card-img-top" style="height: 200px; margin-top: 10px;">
      <div class="card-body">
      <h5 class="card-title">8 Persoons huis</h5>
      <p class="card-text">Heel mooi huisje.</p>
      <a href="8p" class="btn btn-primary">Boeken</a>
      </div>
  </div>
</div>
{% endblock %}