{% extends "template.html" %}

{% block inhoud %}
<!--Contactgegevens-->
  <div class="card text-center" style="width: 60rem; margin-left: auto; margin-right: auto; margin-top: 25px;">
    <div class="card-body">
      <h5 class="card-title">Over ons</h5>
      <p class="card-text">Bungalowpark Zee en Duin </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Contactgegevens</li>
    </ul>
    <ul class="list-group list-group-horizontal">
      <li style="width: 10rem;" class="list-group-item">E-mailadres:</li>
      <li style="width: 50rem;" class="list-group-item">receptie@campingzee-en-duin.nl</li>
    </ul>
    <ul class="list-group list-group-horizontal">
      <li style="width: 10rem;" class="list-group-item">Telefoonnummer:</li>
      <li style="width: 50rem;" class="list-group-item">06-61082345</li>
    </ul>
    <ul class="list-group list-group-horizontal">
      <li style="width: 20rem;" class="list-group-item">Adres: <br> Jan van Goyenkade 25</li>
      <li style="width: 20rem;" class="list-group-item">Postcode: <br> 1075 HP Amsterdam<br> </li>
      <li style="width: 20rem;" class="list-group-item">Land: <br> Nederland</li>
    </ul>
    <ul class="list-group list-group-horizontal"> 
      <li style="width: 20rem;" class="list-group-item">Openingstijden receptie:</li>
      <li style="width: 20rem;" class="list-group-item">Maandag tot vrijdag: <br> 9:00 tot 17:00</li>
      <li style="width: 20rem;" class="list-group-item">Zaterdag en zondag: <br> 13:00 tot 17:00</li>
    </ul><br>
    <h5 class="card-title">Parkeren</h5>
    <p class="card-text"> 
      Je kunt maximaal één auto parkeren bij jouw bungalow.<br> 
      Bij een 8 persoonsbungalow kunnen maximaal twee auto's parkeren.<br> 
      Wij verzoeken overige auto's te parkeren op de centrale parkeerplaats.
    </p>
    <h5 class="card-title">Aankomst en vertrek</h5>
    <p class="card-text"> 
      Uw gehuurde bungalow kunt u in gebruik nemen om 16.00 van de eerste dag van uw vakantie<br>
      Natuurlijk bent u van harte welkom om voor die tijd gebruik te maken van onze faciliteiten.<br>
    </p>
    <br><br>
  </div>
{% endblock %}