{% extends "template.html" %}

{% block inhoud %}

<div style="width:20%; margin-left: auto; margin-right: auto;">
    <form method="post" action="/ingelogd">
        {{form.hidden_tag()}}
        <br>
        {{form.email.label}} 
        <br>
        {{form.email}}
        <br>
        {{form.wachtwoord.label}} 
        <br>
        {{form.wachtwoord}}
        <br><br>
        <input type = "submit" class = "btn btn-primary" value="Inloggen">
    </form>
    {% if get_flashed_messages() != []%}
        <div class="alert alert-danger" role="alert">
            {%for message in get_flashed_messages()%}
            {{message}}
            {% endfor %}
        </div>
    {%endif%}
</div>


<br>

<div class="col-auto", style="margin-left: auto; margin-right: auto; width: 20%;">
    <a class="btn btn-danger" aria-current="page" href="aanmelden">Account Aanmaken</a>
</div> 

{% endblock %}
